@mixin defaultBar {
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.barContainer{
  display: flex;
  border: 1px solid grey;
  align-items: center;
  box-sizing: border-box;
  margin-top: 5px;
  height: 50px;

  .solidBar{
    @include defaultBar;
    background-color: #8ccad4;
  }

  .redBar{
    @include defaultBar;
    background-color: red;
  }

  .actualValue{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
